@import './base.css';

#app {
  max-width: 1860;
  padding: 1rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #8bb3a2;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #edf2f0;
  }
}

@media (min-width: 1024px) {
  body {
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 0rem;
    display: flex;
    flex-direction: column;
  }
}
